@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400&family=Montserrat:wght@400;700&display=swap');

:root {
  --negro: #000000ff;
  --oscuro: #1c1c1f;

  --app-grey: #F2F2F2;
  --azul: #3333ffff;
  --azul-hover: rgb(40, 40, 197);
  --verde: #00cc7eff;
  --rosa: #ff76e2ff;
  --lila: #8a6df1ff;
  --laranja: #ff7059ff;
  --amarelo: #ffc51aff;

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  color: white;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.rounded {
  border-radius: 100vh;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

.spinner-box {
  position: absolute;
  top: 50vh;
  left: 20vw;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}


.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
  animation: spin .8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
