header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 75vh;
}
footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    color:  teal;
    font-weight: 700;
}